/* Header và sản phẩm */
.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: #fff;
}

.nav a {
    color: #fff;
    margin: 0 30px;
    text-decoration: none; /* Không có gạch chân */
    transition: color 0.3s ease, transform 0.3s ease; /* Hiệu ứng chuyển đổi mượt */
}

.nav a:hover {
    color: #4485f2; /* Màu khi di chuột vào */
    transform: translateY(-2px); /* Di chuyển nhẹ lên trên */
    pointer-events: auto;
}

.header-icons nav{
    display: flex;
    justify-content: space-around;
}
.header-icons nav a{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 24px;
    height: 24px;
    margin-left: 15px;
    cursor: pointer;
}
/* Form đăng nhập */
.login-form-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.login-form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

.login-form h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}
.logo {
    height: 50px; 
    width: 60px; 
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-form button[type="submit"] {
    background-color: #4485f2;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.close-btn {
    display: inline-block;
    margin-top: 10px;
    background-color: #f44336;
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}
img {
    width: 100%;
    height: 100%;
    display: block;
}